# Module 1: Python Basiccs
- Types
- Expressions
- Variables
- String Operations
- RegEx

In [1]:
# first Python output

print('Hello, Python!')

Hello, Python!

In [3]:
#Comments 
print('Hello, Python!') # This line prints a string
# print("Hi")

Hello, Python!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.8.20 (default, Oct  3 2024, 10:25:41)
[Clang 14.0.6 ]

# 1) Types

In [1]:
# Numbers -- Inegers / Floats
# # Integers (int)
11
-11

# # Floats = (float)
21.213
-0.62

# Words = Strings (str)
"Hello World"

# Boolean
True
False

'Hello World'

In [40]:
# System settings about float type
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

# Converting (type casting)
float(2)

In [10]:
# Converting (type casting)
float(2) # casting integer to float
print(float(2)) 

print(int(1.1)) # casting the float to integer
# information loss

print(int('1')) # converts to int
#print(int('A')) # creates an error

type(True)
print(int(True))

2.0
1
1
1

In [6]:
# Convert the string "1.2" into a float
print(float('1.2'))

1.2

In [16]:
#type(True)
print(int(True))
print(float(True))
print(int(False))
print(float(False))
bool(1) # True
bool(0) # False

1
1.0
0
0.0

False

In [11]:
z=6/2
type(z)

float

In [12]:
y=6//2
type(y)

int

In [13]:
type("hello" == "world")

bool

In [16]:
type(1234.56)
a=int(1234.56)
type(a)

int

In [20]:
a=123-456-7890
type(a)
a2=str(a)
type(a2)

str

# 2) Expressions

In [22]:
2+3

5

In [21]:
11//2

5

# 3) Variables

In [23]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [25]:
x = 3 + 2 * 2
x

7

In [26]:
y = (3 + 2) * 2
y

10

In [27]:
z = x+y 
z

17

# 4) String Operations

In [28]:
# quotes
'Hi'
"Hi"

'Hi'

In [29]:
"12345"

'12345'

In [30]:
'!.?@'

'!.?@'

In [39]:
Name = 'John Apple'
Name[1]

'o'

In [32]:
Name[0:4]

'John'

In [42]:
Name[-2]

'l'

In [44]:
Name[2:4]

'hn'

In [46]:
# Get every second element in the range from index 0 to index 4
Name[0:5:2]

'Jh '

#Every second variable
Name[::2]

In [47]:
# Get every second element. The elments on index 1, 3, 5 ...
name[::2]

'TeBdGad'

In [4]:
len('John Apple')

10

In [5]:
Statement = Name + 'is the best'
Statement

'John Appleis the best'

In [7]:
3*"Hi "

'Hi Hi Hi '

In [10]:
# New line 
print("John Apple \n is the best")

John Apple
 is the best

In [12]:
# Backslash
print("John Apple \\ is the best")

John Apple \ is the best

In [15]:
# Backslash
print(r"John Apple \ is the best")

John Apple \ is the best

# String Methods

Sequence methods x String methods

In [18]:
# Method upper 
A = 'tom riddle'
B = A.upper()
B

'TOM RIDDLE'

In [19]:
# Method replace
A = 'Ann is the best'
B = A.replace('Ann', 'Tom')
B

'Tom is the best'

In [22]:
# Method find
Name = 'Tom Riddle'
Name.find('le')

8

In [24]:
Name.find('om')

1

In [26]:
Name.find('*') # not in the string --> -1

-1

In [36]:
#Split the substring into list
name = "The BodyGuard"
split_string = (name.split())
split_string

['The', 'BodyGuard']

In [52]:
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"

# Write your code below and press Shift+Enter to execute
matches = re.findall(r"woo", str2)

print(matches)

['woo', 'woo', 'woo', 'woo']

# String interpolation (f-strings)

In [27]:
name = 'John'
age = 30
print(f"Ma name is {name} and I am {age} years old")

Ma name is John and I am 30 years old

# str.format()

In [29]:
name = "John"
age = 50
print("My name is {} and I am {} years old.".format(name,age))

My name is John and I am 50 years old.

# % operator

In [30]:
name = "John"
age = 50
print("My name is %s and I am %d years old." %(name,age))

My name is John and I am 50 years old.

# Additional capabilities

In [32]:
x = 10
y = 20
print(f"The sum of x and y is {x+y}.")

The sum of x and y is 30.

# Raw String (r")

In [34]:
regular_string = "C:\new_folder\file.txt"
print("Regular String:", regular_string)

Regular String: C:
ew_folderile.txt

In [35]:
raw_string = r"C:\new_folder\file.txt"
print("Raw String:", raw_string)

Raw String: C:\new_folder\file.txt

In [37]:
str(1+1)

'2'

In [ ]:
x = 1/1
type(x)

float

# RegEx (Regular Expression)

This RegEx module provides several functions for working with regular expressions, including search, split, findall, and sub.

Python provides a built-in module called re, which allows you to work with regular expressions. First, import the re module

In [48]:
import re

Regular expressions (RegEx) are patterns used to match and manipulate strings of text. There are several special sequences in RegEx that can be used to match specific characters or patterns.


| Special Sequence | Meaning                 | 	Example             |
| -----------  | ----------------------- | ----------------------|
| \d|Matches any digit character (0-9)|"123" matches "\d\d\d"|
|\D|Matches any non-digit character|"hello" matches "\D\D\D\D\D"|
|\w|Matches any word character (a-z, A-Z, 0-9, and _)|"hello_world" matches "\w\w\w\w\w\w\w\w\w\w\w"|
|\W|Matches any non-word character|	"@#$%" matches "\W\W\W\W"|
|\s|Matches any whitespace character (space, tab, newline, etc.)|"hello world" matches "\w\w\w\w\w\s\w\w\w\w\w"|
|\S|Matches any non-whitespace character|"hello_world" matches "\S\S\S\S\S\S\S\S\S"|
|\b|Matches the boundary between a word character and a non-word character|"cat" matches "\bcat\b" in "The cat sat on the mat"|
|\B|Matches any position that is not a word boundary|"cat" matches "\Bcat\B" in "category" but not in "The cat sat on the mat"|

In [49]:
s1 = "The BodyGuard is the best album"

# Define the pattern to search for
pattern = r"Body"

# Use the search() function to search for the pattern in the string
result = re.search(pattern, s1)

# Check if a match was found
if result:
    print("Match found!")
else:
    print("Match not found.")

Match found!

In [50]:
pattern = r"\d\d\d\d\d\d\d\d\d\d"  # Matches any ten consecutive digits
text = "My Phone number is 1234567890"
match = re.search(pattern, text)

if match:
    print("Phone number found:", match.group())
else:
    print("No match")

Phone number found: 1234567890

In [ ]:
pattern = r"\W"  # Matches any non-word character
text = "Hello, world!"
matches = re.findall(pattern, text)

print("Matches:", matches)

In [ ]:
s2 = "The BodyGuard is the best album of 'Whitney Houston'."


# Use the findall() function to find all occurrences of the "st" in the string
result = re.findall("st", s2)

# Print out the list of matched words
print(result)

In [ ]:
# Use the split function to split the string by the "\s"
split_array = re.split(r"\s", s2)

# The split_array contains all the substrings, split by whitespace characters
print(split_array)

In [ ]:
# Define the regular expression pattern to search for
pattern = r"Whitney Houston"

# Define the replacement string
replacement = "legend"

# Use the sub function to replace the pattern with the replacement string
new_string = re.sub(pattern, replacement, s2, flags=re.IGNORECASE)

# The new_string contains the original string with the pattern replaced by the replacement string
print(new_string)