# Module 1: Python Basiccs
- Types
- Expressions
- Variables
- String Operations

In [1]:
# first Python output

print('Hello, Python!')

Hello, Python!

In [3]:
#Comments 
print('Hello, Python!') # This line prints a string
# print("Hi")

Hello, Python!

In [2]:
# Check the Python Version

import sys
print(sys.version)

3.8.20 (default, Oct  3 2024, 10:25:41)
[Clang 14.0.6 ]

# 1) Types

In [1]:
# Numbers -- Inegers / Floats
# # Integers (int)
11
-11

# # Floats = (float)
21.213
-0.62

# Words = Strings (str)
"Hello World"

# Boolean
True
False

'Hello World'

In [5]:
# System settings about float type
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

# Converting (type casting)
float(2)

In [10]:
# Converting (type casting)
float(2) # casting integer to float
print(float(2)) 

print(int(1.1)) # casting the float to integer
# information loss

print(int('1')) # converts to int
#print(int('A')) # creates an error

type(True)
print(int(True))

2.0
1
1
1

In [6]:
# Convert the string "1.2" into a float
print(float('1.2'))

1.2

In [16]:
#type(True)
print(int(True))
print(float(True))
print(int(False))
print(float(False))
bool(1) # True
bool(0) # False

1
1.0
0
0.0

False

In [11]:
z=6/2
type(z)

float

In [12]:
y=6//2
type(y)

int

In [13]:
type("hello" == "world")

bool

In [16]:
type(1234.56)
a=int(1234.56)
type(a)

int

In [20]:
a=123-456-7890
type(a)
a2=str(a)
type(a2)

str

# 2) Expressions

In [22]:
2+3

5

In [21]:
11//2

5

# 3) Variables

In [23]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [25]:
x = 3 + 2 * 2
x

7

In [26]:
y = (3 + 2) * 2
y

10

In [27]:
z = x+y 
z

17

# 4) String Operations

In [28]:
# quotes
'Hi'
"Hi"

'Hi'

In [29]:
"12345"

'12345'

In [30]:
'!.?@'

'!.?@'

In [2]:
Name = 'John Apple'
Name[1]

'o'

In [32]:
Name[0:4]

'John'

#Every second variable
Name[::2]

In [3]:
#Every second variable
Name[::2]

'Jh pl'

In [4]:
len('John Apple')

10

In [5]:
Statement = Name + 'is the best'
Statement

'John Appleis the best'

In [7]:
3*"Hi "

'Hi Hi Hi '

In [10]:
# New line 
print("John Apple \n is the best")

John Apple
 is the best

In [12]:
# Backslash
print("John Apple \\ is the best")

John Apple \ is the best

In [15]:
# Backslash
print(r"John Apple \ is the best")

John Apple \ is the best

# String Methods

Sequence methods x String methods

In [18]:
# Method upper 
A = 'tom riddle'
B = A.upper()
B

'TOM RIDDLE'

In [19]:
# Method replace
A = 'Ann is the best'
B = A.replace('Ann', 'Tom')
B

'Tom is the best'

In [22]:
# Method find
Name = 'Tom Riddle'
Name.find('le')

8

In [24]:
Name.find('om')

1

In [26]:
Name.find('*') # not in the string --> -1

-1

In [36]:
#Split the substring into list
name = "The BodyGuard"
split_string = (name.split())
split_string

['The', 'BodyGuard']

# String interpolation (f-strings)

In [27]:
name = 'John'
age = 30
print(f"Ma name is {name} and I am {age} years old")

Ma name is John and I am 30 years old

# str.format()

In [29]:
name = "John"
age = 50
print("My name is {} and I am {} years old.".format(name,age))

My name is John and I am 50 years old.

# % operator

In [30]:
name = "John"
age = 50
print("My name is %s and I am %d years old." %(name,age))

My name is John and I am 50 years old.

# Additional capabilities

In [32]:
x = 10
y = 20
print(f"The sum of x and y is {x+y}.")

The sum of x and y is 30.

# Raw String (r")

In [34]:
regular_string = "C:\new_folder\file.txt"
print("Regular String:", regular_string)

Regular String: C:
ew_folderile.txt

In [35]:
raw_string = r"C:\new_folder\file.txt"
print("Raw String:", raw_string)

Raw String: C:\new_folder\file.txt

In [37]:
str(1+1)

'2'

In [ ]:
x = 1/1
type(x)

float